<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect to public directory if not already there
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

# Prevent directory listing
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# Prevent access to sensitive files
<FilesMatch "^(composer\.json|composer\.lock|env|gitignore|\.git|readme\.md|license\.txt|phpunit\.xml|php\.md|_ide_helper\.php|.*\.sql|.*\.log|.*\.env|.*\.htaccess)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Disable server signature
ServerSignature Off
